{% extends "personal/header.html" %}
{% block content %}

    {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %}

    <form action="{% url 'login:start_registration' %}" method="post">
        {% csrf_token %}
        User name:
        <br>
        <input type="text" name="user_name" value=
        "{% if user_name %}{{user_name}}{% endif %}"><br>
        Public name:
        <br>
        <input type="text" name="public_name" value=
        "{% if public_name %}{{public_name}}{% endif %}"><br>
        email:
        <br>
        <input type="text" name="user_email" value=
        "{% if user_email %}{{user_email}}{% endif %}"><br>
        Password:
        <br>
        <input type="password" name="password"><br>
        Password again:
        <br>
        <input type="password" name="password_confirm"><br>
        <input type="submit" value="Submit">
        <!-- <input type="password" name="password_check" id="id_password_check"/> -->
    </form>
{% endblock %}