<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
    <title>ma_baker</title>
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'personal/css/normalize.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'personal/css/main.css' %}" type = "text/css"/>
</head>
<body>
	<div id="wrapper-content">
		<header id="header">
			<p>Ma Baker</p>
			<div class="wrapper-login">
				<a href="#">Вход</a>
				<a href="#">Регистрация</a>
			</div>
		</header>
		<section id="wrapper-body-content">
			<nav id="navigation">
				<ul>
					<li><a href="/">Главная</a></li>
					<li><a href="/blog">Общий раздел</a></li>
					<li><a href="/admin">Выборы 18.03</a></li>
					<li><a href="#">Новый контент</a></li>
					<li><a href="#">О нас</a></li>
				</ul>
			</nav>
			<section id="content">
				{% block content %}
				{% endblock %}
			</section>
		</section>
	</div>
</body>
</html>