<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
    <title>OMEGALul</title>
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'personal/css/normalize.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'personal/css/main.css' %}" type = "text/css"/>
</head>
<body>
	<div id="wrapper-content">
		<header id="header">
			<p>ooo my!</p>
			<div class="wrapper-login">
				<a href="{% url 'login:index' %}">Вход</a>
				<a href="{% url 'login:call_registration' %}">Регистрация</a>
			</div>
		</header>
		<section id="wrapper-body-content">
			<nav id="navigation">
				<ul>
					<li><a href="{% url 'home:index' %}">Главная</a></li>
					<li><a href="/blog">Общий раздел</a></li>
					<li><a href="{% url 'polls:index' %}">Выборы 18.03</a></li>
					<li><a href="/admin">Новый контент</a></li>
					<li><a href="/polls">Опросы</a></li>
				</ul>
			</nav>
			<section id="content">
				{% block content %}
				{% endblock %}
			</section>
		</section>
	</div>
</body>
</html>