{% extends "personal/header.html" %}
{% load staticfiles %}
{% block content %}
    <div class="item-content">
        <header class="header-item-content">
            <img src="{% static 'personal/img/default-user.png' %}" alt="default.png">
            <h2>Заголовок</h2>
            <p class="pubdate">Дата публикации</p>
        </header>
        <section class="body-item-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, laborum. Culpa est, veritatis, fuga excepturi sequi accusamus ad, accusantium impedit voluptas dicta consequuntur nemo perspiciatis. Libero iusto vero qui eius mollitia est. Laborum beatae, itaque deleniti quaerat a commodi neque!</p>
        </section>
        <a href="#">Читать далее</a>
    </div>

    <div class="item-content">
        <header class="header-item-content">
            <img src="{% static 'personal/img/default-user.png' %}" alt="default.png">
            <h2>Заголовок</h2>
            <p class="pubdate">Дата публикации</p>
        </header>
        <section class="body-item-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, laborum. Culpa est, veritatis, fuga excepturi sequi accusamus ad, accusantium impedit voluptas dicta consequuntur nemo perspiciatis. Libero iusto vero qui eius mollitia est. Laborum beatae, itaque deleniti quaerat a commodi neque!</p>
        </section>
        <a href="#">Читать далее</a>
    </div>

    <div class="item-content">
        <header class="header-item-content">
            <img src="{% static 'personal/img/default-user.png' %}" alt="default.png">
            <h2>Заголовок</h2>
            <p class="pubdate">Дата публикации</p>
        </header>
        <section class="body-item-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, laborum. Culpa est, veritatis, fuga excepturi sequi accusamus ad, accusantium impedit voluptas dicta consequuntur nemo perspiciatis. Libero iusto vero qui eius mollitia est. Laborum beatae, itaque deleniti quaerat a commodi neque!</p>
        </section>
        <a href="#">Читать далее</a>
    </div>

    <div class="item-content">
        <header class="header-item-content">
            <img src="{% static 'personal/img/default-user.png' %}" alt="default.png">
            <h2>Заголовок</h2>
            <p class="pubdate">Дата публикации</p>
        </header>
        <section class="body-item-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, laborum. Culpa est, veritatis, fuga excepturi sequi accusamus ad, accusantium impedit voluptas dicta consequuntur nemo perspiciatis. Libero iusto vero qui eius mollitia est. Laborum beatae, itaque deleniti quaerat a commodi neque!</p>
        </section>
        <a href="#">Читать далее</a>
    </div>
{% endblock %}